### Multithreading
1. single thread works on one task at a time
2. multi threading if you want to work on mutiple tasks simulatneously

In [1]:
import time

In [3]:
%%time
time.sleep(2)
print("Example")
time.sleep(3)
print("Hello")

Example
Hello
CPU times: total: 0 ns
Wall time: 5 s

In [4]:
def simple_intrest(p, n, r):
    print("simple intrest execution started")
    time.sleep(3)
    i = (p * n * r)/100
    a = p + i
    print(f"intrest : {i:.2f} INR")
    print(f"Amount : {a:.2f} INR")
    print("Simple intrest execution completed")

In [5]:
%%time
simple_intrest(p=57000, n=5, r=7.2)

simple intrest execution started
intrest : 20520.00 INR
Amount : 77520.00 INR
Simple intrest execution completed
CPU times: total: 0 ns
Wall time: 3 s

In [9]:
def hypotenuse(a, b):
    print("hypotenus function execution started")
    time.sleep(2)
    c = (a**2 + b**2) ** (1/2)
    print(f"Hypotenus for {a} and {b} is {c:.4f}")
    print("hypotenus execution completed")

In [10]:
%%time
hypotenuse(4, 7)

hypotenus function execution started
Hypotenus for 4 and 7 is 8.0623
hypotenus execution completed
CPU times: total: 0 ns
Wall time: 2 s

In [11]:
%%time
simple_intrest(p=70000, n=3, r=6.5)
hypotenuse(3, 4)

simple intrest execution started
intrest : 13650.00 INR
Amount : 83650.00 INR
Simple intrest execution completed
hypotenus function execution started
Hypotenus for 3 and 4 is 5.0000
hypotenus execution completed
CPU times: total: 0 ns
Wall time: 5 s

### If you want to exceute 2 functions simutaneously

In [12]:
from threading import Thread

In [13]:
%%time
# Create and the start the threads
th1 = Thread(target=simple_intrest, args=(45000, 2, 6.2))
th2 = Thread(target=hypotenuse, args=(5, 9))

# Start all the threads
th1.start()
th2.start()

# Wait for all threads to finish
th1.join()
th2.join()

simple intrest execution startedhypotenus function execution started

Hypotenus for 5 and 9 is 10.2956
hypotenus execution completed
intrest : 5580.00 INR
Amount : 50580.00 INR
Simple intrest execution completed
CPU times: total: 0 ns
Wall time: 3.01 s


### Single function but multiple values to calculate

In [14]:
def square(n):
    time.sleep(1)
    s = n**2
    print(f"Square of number {n} is {s}\n\n")

In [15]:
%%time
square(12.5)

Square of number 12.5 is 156.25


CPU times: total: 0 ns
Wall time: 1 s

In [16]:
a = [1, 11, 13, 5, 12, 14.5]

In [17]:
len(a)

6

In [18]:
%%time
for i in a:
    square(i)

Square of number 1 is 1


Square of number 11 is 121


Square of number 13 is 169


Square of number 5 is 25


Square of number 12 is 144


Square of number 14.5 is 210.25


CPU times: total: 0 ns
Wall time: 6 s

### Multithreading

In [19]:
def square_mul(b: list):
    # Create the threads 
    threads = []
    for i in b:
        th = Thread(target=square, args=(i,))
        th.start()
        threads.append(th)
    
    # Wait for all threads to finish
    for th in threads:
        th.join()

In [20]:
a

[1, 11, 13, 5, 12, 14.5]

In [21]:
%%time
square_mul(a)

Square of number 1 is 1

Square of number 14.5 is 210.25


Square of number 12 is 144


Square of number 5 is 25


Square of number 13 is 169


Square of number 11 is 121



CPU times: total: 0 ns
Wall time: 1.02 s

In [22]:
import numpy as np
b = np.arange(1, 101, 1)
b

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [23]:
%%time
square_mul(b)

Square of number 1 is 1


Square of number 4 is 16


Square of number 5 is 25


Square of number 6 is 36


Square of number 7 is 49


Square of number 8 is 64


Square of number 9 is 81


Square of number 10 is 100


Square of number 11 is 121


Square of number 12 is 144


Square of number 13 is 169


Square of number 14 is 196


Square of number 2 is 4


Square of number 3 is 9


Square of number 17 is 289


Square of number 16 is 256


Square of number 15 is 225


Square of number 19 is 361


Square of number 18 is 324


Square of number 21 is 441


Square of number 20 is 400


Square of number 22 is 484


Square of number 23 is 529


Square of number 24 is 576


Square of number 25 is 625


Square of number 26 is 676


Square of number 28 is 784


Square of number 27 is 729


Square of number 29 is 841


Square of number 30 is 900


Square of number 31 is 961


Square of number 32 is 1024


Square of number 33 is 1089


Square of number 34 is 1156


Square of number 35 is 1225


Square of number 36 is 1296


Square of number 37 is 1369


Square of number 38 is 1444


Square of number 39 is 1521


Square of number 40 is 1600


Square of number 41 is 1681


Square of number 42 is 1764


Square of number 43 is 1849


Square of number 44 is 1936


Square of number 46 is 2116


Square of number 45 is 2025


Square of number 47 is 2209


Square of number 48 is 2304


Square of number 49 is 2401


Square of number 51 is 2601


Square of number 50 is 2500


Square of number 52 is 2704


Square of number 53 is 2809


Square of number 54 is 2916


Square of number 56 is 3136


Square of number 55 is 3025


Square of number 57 is 3249


Square of number 58 is 3364


Square of number 59 is 3481


Square of number 60 is 3600


Square of number 61 is 3721


Square of number 62 is 3844


Square of number 63 is 3969


Square of number 64 is 4096


Square of number 65 is 4225


Square of number 67 is 4489


Square of number 66 is 4356


Square of number 68 is 4624


Square of number 69 is 4761


Square of number 70 is 4900


Square of number 71 is 5041


Square of number 72 is 5184


Square of number 73 is 5329


Square of number 74 is 5476


Square of number 75 is 5625


Square of number 76 is 5776


Square of number 77 is 5929


Square of number 78 is 6084


Square of number 80 is 6400


Square of number 79 is 6241


Square of number 81 is 6561


Square of number 82 is 6724


Square of number 83 is 6889


Square of number 84 is 7056


Square of number 85 is 7225


Square of number 86 is 7396


Square of number 87 is 7569


Square of number 88 is 7744


Square of number 89 is 7921


Square of number 90 is 8100


Square of number 91 is 8281


Square of number 92 is 8464


Square of number 93 is 8649


Square of number 94 is 8836


Square of number 95 is 9025


Square of number 96 is 9216


Square of number 97 is 9409


Square of number 98 is 9604


Square of number 100 is 10000


Square of number 99 is 9801


CPU times: total: 15.6 ms
Wall time: 1.06 s