### Variadic Function

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

### User defined function

In [2]:
def multiply(a: int | float, b: int | float ) -> int|float:
    """
    input : this function takes two number as input
    output : multiplication
    """
    c = a*b
    return c

In [7]:
multiply(12,14)

168

In [5]:
# Argument in Function 
m1 = multiply(3, 4)

In [6]:
m1

12

In [8]:
# Keywords argument
m2 = multiply(a=12.5, b=5.2)

In [9]:
m2

65.0

## Arguments in Functions
1. *args = will act like a tuple in function

In [10]:
def fun1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [11]:
fun1("anjali", True, 12.5, False)

('anjali', True, 12.5, False)
<class 'tuple'>
anjali
True
12.5
False

In [12]:
fun1("ETLHive")

('ETLHive',)
<class 'tuple'>
ETLHive

### Pass list as an argument

In [13]:
a = [1, 2, 3, 4, 5, 6, 11, 12, 15, 120, 25]
type(a)

list

In [14]:
fun1(*a)

(1, 2, 3, 4, 5, 6, 11, 12, 15, 120, 25)
<class 'tuple'>
1
2
3
4
5
6
11
12
15
120
25

### Write a Variadic Function to apply multiplication on all arguments

In [15]:
def product(*args):
    # intialise the product to 1
    p = 1

    # apply for loop on args
    for i in args:
        p = p * i

    # return the value of product
    return p

In [16]:
product(5, 8)

40

In [18]:
product(12, 33, 4, 7, 9, 5)

498960

In [21]:
b = [1, 2, 33, 14, 16, 22, 24, 15]
product(*b)

117089280

### Billing Example

In [3]:
c1 = [
    ("Mobile", 35000, 2),
    ("Screen Gaurd", 1200, 4),
    ("Cover", 300, 4)
]

### For above cart value do the billing and add tax rate

In [4]:
def billing(tax_rate: int|float, *args):
    # Initialize tootal before tax
    total_before_tax = 0
    
    # Apply for loop on args
    for name, price, qty in args:
        item_total = price*qty
        total_before_tax = total_before_tax + item_total
        print(f"Product Name: {name}, Price: {price} INR, Quantity: {qty} Nos ")
        print(f"Item Total : {item_total : .2f} INR")
        print("\n*************************************************\n")
    
    # Apply tax on total before tax
    tax = (tax_rate/100)*total_before_tax
    final_amount = total_before_tax + tax
    
    # Show the tax and final total
    print(f"Total before Tax : {total_before_tax : .2f} INR")
    print(f"Tax : {tax: .2f} INR")
    print(f"Final Total : {final_amount : .2f} INR")
    
    # Return the value of final total
    return final_amount

In [5]:
c1

[('Mobile', 35000, 2), ('Screen Gaurd', 1200, 4), ('Cover', 300, 4)]

In [30]:
a1 = billing(18, *c1)

Product Name: Mobile, Price: 35000 INR, Quantity: 2 Nos

*************************************************

Product Name: Screen Gaurd, Price: 1200 INR, Quantity: 4 Nos

*************************************************

Product Name: Cover, Price: 300 INR, Quantity: 4 Nos

*************************************************

Total before Tax :  76000.00 INR
Tax :  13680.00 INR
Final Total :  89680.00 INR

In [6]:
a2 = billing(
    18,
    ("Laptop", 70000, 1),
    ("mouse", 800, 2),
    ("keyboard", 1500, 1),
    ("mouse pad", 300, 2),
    ("keyboard cover", 400, 1)
)

Product Name: Laptop, Price: 70000 INR, Quantity: 1 Nos
Item Total :  70000.00 INR

*************************************************

Product Name: mouse, Price: 800 INR, Quantity: 2 Nos
Item Total :  1600.00 INR

*************************************************

Product Name: keyboard, Price: 1500 INR, Quantity: 1 Nos
Item Total :  1500.00 INR

*************************************************

Product Name: mouse pad, Price: 300 INR, Quantity: 2 Nos
Item Total :  600.00 INR

*************************************************

Product Name: keyboard cover, Price: 400 INR, Quantity: 1 Nos
Item Total :  400.00 INR

*************************************************

Total before Tax :  74100.00 INR
Tax :  13338.00 INR
Final Total :  87438.00 INR