### Classes in oops

In [50]:
a = 23
print(type(a))

<class 'int'>

In [51]:
b = 34
print(type(b))

<class 'int'>

In [52]:
c = "example"
print(type(c))

<class 'str'>

In [53]:
d = [1, 2, 3]
print(type(d))

<class 'list'>

In [54]:
e = {
    "a" : 1,
    "b" : 2
}
print(type(e))

<class 'dict'>

In [55]:
s = {
    "roll_no" : [101, 102, 103],
    "name" : ["sarthak", "raman", "aditi"]
}
print(type(s))

<class 'dict'>

In [56]:
import pandas as pd
df = pd.DataFrame(s)
df

   roll_no     name
0      101  sarthak
1      102    raman
2      103    aditi

In [57]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Attritibute properties of class DataFrame
1. df.shape
2. df.columns
3. df.index
4. df.dtypes
5. df.values

In [58]:
df.shape

(3, 2)

In [59]:
df.columns

Index(['roll_no', 'name'], dtype='object')

In [60]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [61]:
df.dtypes

roll_no     int64
name       object
dtype: object

In [62]:
df.values

array([[101, 'sarthak'],
       [102, 'raman'],
       [103, 'aditi']], dtype=object)

### Functions / Methods of class DataFrame

In [63]:
df.head(2)

   roll_no     name
0      101  sarthak
1      102    raman

In [64]:
df.tail(1)

   roll_no   name
2      103  aditi

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   name     3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [66]:
df.isna().sum()

roll_no    0
name       0
dtype: int64

### Create a user defined class to store a person info

In [67]:
class Person:
    # Constructor function - define the attribute of class
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation
        
    # Introduce method for class person
    def intro(self):
        print(f"My name is {self.name}")
        print(f"i am {self.age} years old")
        print(f"i am {self.gender}")
        print(f"i work as a{self.occupation}")

In [68]:
p1 = Person(name="sarthak", age=28, gender="male", occupation="HR")
p1

In [69]:
type(p1)

__main__.Person

### "__main__" reffers to current file in python

In [70]:
p1.name

'sarthak'

In [71]:
p1.age

28

In [72]:
p1.gender

'male'

In [73]:
### Method of class person
p1.intro()

My name is sarthak
i am 28 years old
i am male
i work as aHR

In [74]:
p2 = Person(name = "aditi", age=32, gender="female", occupation="Ds")
type(p2)

__main__.Person

In [75]:
p2

In [76]:
p2.name

'aditi'

In [77]:
p2.age

32

In [78]:
p2.gender

'female'

### Modifying age of User

In [79]:
p2.age

32

In [80]:
p2.age = 34

In [81]:
p2.age

34

In [82]:
p2.intro()

My name is aditi
i am 34 years old
i am female
i work as aDs

In [83]:
p3 = Person(name = True, age = "exmp", gender = "HR", occupation="male")

In [84]:
type(p3)

__main__.Person

In [85]:
p3.name

True

In [86]:
p3.age

'exmp'

In [87]:
p3.gender

'HR'

In [88]:
p3.occupation

'male'

In [89]:
p3.intro()

My name is True
i am exmp years old
i am HR
i work as amale

### Create a dataclass using decorator

In [90]:
from dataclasses import dataclass

from typing import Literal

In [91]:
@dataclass
class Person2:
    name : str 
    age : int
    gender : Literal["male", "female"]
    occupation : str 
    
    def __post_init__(self):
        errors = []
        
        if type(self.name) != str:
            errors.append("Name should be a string")
        if type(self.age) != int or self.age <= 0:
            errors.append("age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("genderr should be male or female")
        if type(self.occupation) != str:
            errors.append("occupation should be string")
        
        # raise the errors
        if errors:
            raise ValueError("\n".join(errors)) 
        
    def talk(self):
        print(f"my name is {self.name}")
        print(f"i am  {self.age} years old")
        print(f"i am {self.gender}") 
        print(f"i am work as {self.occupation}")

In [92]:
p3 = Person2(name="Raman", age=28, gender="male", occupation="Purchase Engg.")

In [93]:
p3

Person2(name='Raman', age=28, gender='male', occupation='Purchase Engg.')

In [94]:
p3.name

'Raman'

In [95]:
p3.age

28

In [101]:
p3.talk()

my name is Raman
i am  28 years old
i am male
i am work as Purchase Engg.

In [100]:
p4 = Person2(name="Rahul", age=-20, gender="male", occupation="Sales Engg.")

ValueError: age should be a positive integer

In [99]:
p4

NameError: name 'p4' is not defined

In [50]:
p4 = Person2(name= 23, age=-34, gender="HR", occupation=34.5)

ValueError: Name should be a string
age should be a positive integer
genderr should be male or female
occupation should be string

In [102]:
p5 = Person2(name="Rahul", age=20, gender="male", occupation="Sales Engg.")

In [103]:
p5

Person2(name='Rahul', age=20, gender='male', occupation='Sales Engg.')

In [104]:
p5.name

'Rahul'

In [105]:
p5.age

20

In [106]:
p5.talk()

my name is Rahul
i am  20 years old
i am male
i am work as Sales Engg.

### Bank Account Example

### Handle multiple bank account

In [110]:
@dataclass
class Account:
    ac_no: int
    name: str
    bal: int|float

    def get_balance(self):
        print(f"Current balance for account : {self.ac_no} is {self.bal:.2f} INR")

    def deposit(self, amt: int|float):
        if amt <= 0:
            raise ValueError("Amount deposited cannot be negative or zero")
        
        self.bal = self.bal + amt

    def withdraw(self, amt: int|float):
        if amt >= self.bal:
            raise ValueError("Insufficent Balance")
        
        self.bal = self.bal - amt

    def transfer(self, amt: int|float, ac2: "Account"):
        self.withdraw(amt)
        ac2.deposit(amt)

In [111]:
a1 = Account(ac_no=1234, name="Rahul", bal= 5000)

In [112]:
a1

Account(ac_no=1234, name='Rahul', bal=5000)

In [113]:
a1.ac_no

1234

In [114]:
a1.name

'Rahul'

In [115]:
a1.bal

5000

In [116]:
a1.get_balance

In [117]:
a1.deposit(700)

In [118]:
a1.get_balance()

Current balance for account : 1234 is 5700.00 INR

In [119]:
a1.withdraw(6000)

ValueError: Insufficent Balance

In [120]:
a1.get_balance()

Current balance for account : 1234 is 5700.00 INR

In [121]:
a1.withdraw(1500)

In [122]:
a1.get_balance()

Current balance for account : 1234 is 4200.00 INR

In [123]:
a2 = Account(ac_no=6789, name = "priya", bal=500)

In [124]:
a2

Account(ac_no=6789, name='priya', bal=500)

In [125]:
a2.get_balance()

Current balance for account : 6789 is 500.00 INR

### Transfer from a1 to a2

In [126]:
a1.get_balance()

Current balance for account : 1234 is 4200.00 INR

In [127]:
a2.get_balance()

Current balance for account : 6789 is 500.00 INR

In [128]:
a1.transfer(2000, a2)

In [129]:
a1.get_balance()

Current balance for account : 1234 is 2200.00 INR

In [130]:
a2.get_balance()

Current balance for account : 6789 is 2500.00 INR

In [131]:
a1.transfer(3000, a2)

ValueError: Insufficent Balance

In [133]:
a1.get_balance()

Current balance for account : 1234 is 2200.00 INR

In [134]:
a2.get_balance()

Current balance for account : 6789 is 2500.00 INR

### Transfer from a2 to a1

In [135]:
a2.transfer(800, a1)

In [136]:
a1.get_balance()

Current balance for account : 1234 is 3000.00 INR

In [137]:
a2.get_balance()

Current balance for account : 6789 is 1700.00 INR

### Assignment

### Q1.

In [4]:
isinstance(23, (int))

True

In [5]:
isinstance(25, str)

False

In [1]:
from dataclasses import dataclass

In [17]:
@dataclass
class Triangle:
    a: int | float
    b: int | float
    c: int | float 

    def __post_init__(self):
        errors = []

        if not isinstance(self.a, (int, float)) or self.a <= 0:
            errors.append("Side a should be a positive integer or float")
        if not isinstance(self.b, (int, float)) or self.b <= 0:
            errors.append("Side b should be a positive integer or float")
        if not isinstance(self.c, (int, float)) or self.c <= 0:
            errors.append("Side c should be positive integer or float")
        if not self.is_triangle():
            errors.append("Sum of any two sides should always be greater than third")

        if errors:
            raise ValueError("\n".join(errors))


    def is_triangle(self):
        if (
            self.a + self.b > self.c and
            self.b + self.c > self.a and
            self.c + self.a > self.b 
        ):
            return True
        else:
            return False 


    def perimeter(self):
        return self.a + self.b + self.c
    

    def area(self):
        s = self.perimeter() / 2
        a = (s * (s - self.a) * (s - self.b) * (s - self.c))**(1/2)
        return a

In [18]:

t1 = Triangle(3,4,5)
t1

Triangle(a=3, b=4, c=5)

In [19]:
t1.is_triangle()

True

In [20]:
t1.perimeter()

12

In [21]:
t1.area()

6.0

In [22]:
t2 = Triangle(1, 2, 4)

ValueError: Sum of any two sides should always be greater than third