### Classes in oops

In [1]:
a = 23
print(type(a))

<class 'int'>

In [3]:
b = 34
print(type(b))

<class 'int'>

In [4]:
c = "example"
print(type(c))

<class 'str'>

In [5]:
d = [1, 2, 3]
print(type(d))

<class 'list'>

In [6]:
e = {
    "a" : 1,
    "b" : 2
}
print(type(e))

<class 'dict'>

In [7]:
s = {
    "roll_no" : [101, 102, 103],
    "name" : ["sarthak", "raman", "aditi"]
}
print(type(s))

<class 'dict'>

In [8]:
import pandas as pd
df = pd.DataFrame(s)
df

   roll_no     name
0      101  sarthak
1      102    raman
2      103    aditi

In [10]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Attritibute properties of class DataFrame
1. df.shape
2. df.columns
3. df.index
4. df.dtypes
5. df.values

In [9]:
df.shape

(3, 2)

In [11]:
df.columns

Index(['roll_no', 'name'], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.dtypes

roll_no     int64
name       object
dtype: object

In [14]:
df.values

array([[101, 'sarthak'],
       [102, 'raman'],
       [103, 'aditi']], dtype=object)

### Functions / Methods of class DataFrame

In [15]:
df.head(2)

   roll_no     name
0      101  sarthak
1      102    raman

In [18]:
df.tail(1)

   roll_no   name
2      103  aditi

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   name     3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [19]:
df.isna().sum()

roll_no    0
name       0
dtype: int64

### Create a user defined class to store a person info

In [21]:
class Person:
    # Constructor function - define the attribute of class
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation
        
    # Introduce method for class person
    def intro(self):
        print(f"My name is {self.name}")
        print(f"i am {self.age} years old")
        print(f"i am {self.gender}")
        print(f"i work as a{self.occupation}")

In [22]:
p1 = Person(name="sarthak", age=28, gender="male", occupation="HR")
p1

In [23]:
type(p1)

__main__.Person

### "__main__" reffers to current file in python

In [24]:
p1.name

'sarthak'

In [25]:
p1.age

28

In [26]:
p1.gender

'male'

In [27]:
### Method of class person
p1.intro()

My name is sarthak
i am 28 years old
i am male
i work as aHR

In [28]:
p2 = Person(name = "aditi", age=32, gender="female", occupation="Ds")
type(p2)

__main__.Person

In [29]:
p2

In [30]:
p2.name

'aditi'

In [31]:
p2.age

32

In [32]:
p2.gender

'female'

### Modifying age of User

In [33]:
p2.age

32

In [34]:
p2.age = 34

In [35]:
p2.age

34

In [36]:
p2.intro()

My name is aditi
i am 34 years old
i am female
i work as aDs

In [37]:
p3 = Person(name = True, age = "exmp", gender = "HR", occupation="male")

In [38]:
type(p3)

__main__.Person

In [39]:
p3.name

True

In [57]:
p3.age

28

In [58]:
p3.gender

'male'

In [60]:
p3.occupation

'Purchase Engg.'

In [63]:
p3.intro()

AttributeError: 'Person2' object has no attribute 'intro'

### Create a dataclass using decorator

In [41]:
from dataclasses import dataclass

from typing import Literal

In [42]:
@dataclass
class Person2:
    name : str 
    age : int
    gender : Literal["male", "female"]
    occupation : str 
    
    def __post_init__(self):
        errors = []
        
        if type(self.name) != str:
            errors.append("Name should be a string")
        if type(self.age) != int or self.age <= 0:
            errors.append("age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("genderr should be male or female")
        if type(self.occupation) != str:
            errors.append("occupation should be string")
        
        # raise the errors
        if errors:
            raise ValueError("\n".join(errors)) 
        
    def talk(self):
        print(f"my name is {self.name}")
        print(f"i am  {self.age} years old")
        print(f"i am {self.gender}") 
        print(f"i am work as {self.occupation}")

In [43]:
p3 = Person2(name="Raman", age=28, gender="male", occupation="Purchase Engg.")

In [44]:
p3

Person2(name='Raman', age=28, gender='male', occupation='Purchase Engg.')

In [45]:
p3.name

'Raman'

In [46]:
p3.age

28

In [47]:
p3.talk()

my name is Raman
i am  28 years old
i am male
i am work as Purchase Engg.

In [48]:
p4 = Person2(name="Rahul", age=-20, gender="male", occupation="Sales Engg.")

ValueError: age should be a positive integer

In [49]:
p4

NameError: name 'p4' is not defined

In [50]:
p4 = Person2(name= 23, age=-34, gender="HR", occupation=34.5)

ValueError: Name should be a string
age should be a positive integer
genderr should be male or female
occupation should be string

In [51]:
p5 = Person2(name="Rahul", age=20, gender="male", occupation="Sales Engg.")

In [52]:
p5

Person2(name='Rahul', age=20, gender='male', occupation='Sales Engg.')

In [53]:
p5.name

'Rahul'

In [54]:
p5.age

20

In [55]:
p5.talk()

my name is Rahul
i am  20 years old
i am male
i am work as Sales Engg.

### Bank Account Example

### Handle multiple bank account

In [ ]:
@dataclass
class Account:
    ac_no : int
    namme : str 
    bal : int|float
    
    def get_balance(self):
        print(f"current balance for account : {self.ac_no} is {self.bal:.2f} INR")
    
    def deposite(self, amt: int|float):
        if self.amt <= 0:
            raise ValueError("amount deposite cannot be negative or zero")
        
        self.bal = self.bal + amt
        
    def withdraw(self, int|float):